.tasks > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 16px;

}

.tasks > ul > li {

    border: 1px solid var(--highlight-background-color);
    background-color: var(--background-color)

}

.tasks .tasks-card-body {
    margin: 16px;
}

.tasks .tasks-card-body h5{
	color: black;
	text-align: center;
}

.tasks .tasks-card-image {
    line-height: 0;
}

.tasks .tasks-card-body > *:first-child {
    margin-top: 0;
}

.tasks > ul > li img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}